:root {
    --primary-color: #6d56c1;
    --primary-color-alt: #7b67c7;
    --linear-gradient: linear-gradient(
        54deg,
        rgba(74, 76, 179, 0.95) 34%,
        hsla(0, 34%, 71%, 0.95)
    );
}

.color-1 {
    background-color: #4a4a4a;
}