:root {
    --primary-color: #4a4a4a;
    --primary-color-alt:#575757;
    --linear-gradient: linear-gradient(
        54deg,
        rgba(45, 45, 45, 0.95) 34%,
        rgba(45, 45, 45, 0.95)
    );
}